<!DOCTYPE html>
<!-- Parent template to apply color and layout to all other pages.  -->
<html>
    <head>
        <title>{{ content }}</title>
        <style type="text/css">
            body {background-color: #232428;}
            div {color: #ffffff;}
            a:link {color: #4DDB4D}
            a:visited {color: #0099FF}
        </style>
    </head>

    <body>
        <div align="center">
            <a href="/">Homepage</a>
            ||
            <a href="/submit/">Submit your own!</a>
            ||
            {% if current_user.is_authenticated %}
            <font color="#4DDB4D">Logged in as {{ current_user.username }} <a href="/logout/">(logout)</a></font>
            {% else %}
                <a href="/register/">Register</a>
                ||
                <a href="/login/">Login</a>
            {% endif %}
        </div>
        <!-- This is where subclass content will go. -->
        {% block content %}
        {% endblock %}
        <!-- Allow for flashed messages to appear. -->
        <p></p>
        <div align="center" class="container">
            {% for message in get_flashed_messages() %}
            <div data-alert class="alert-box alert round">
                <a href="#" class="close">&times;</a>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </body>
</html>
